.batch_div-6 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .4rem;
    border-bottom: .5px solid rgba(128, 128, 128, 0.612);
}

.batch_title-6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom_panel-6 {
    padding: 1rem 1rem;
    gap: 1rem;
    padding-bottom: 2rem;
    max-height: 900px;
    transform: translateY(120%);
    transition: transform .5s ease;
    pointer-events: none;
    z-index: 20;
}

.bottom_panel-6.expand {
    transform: translateY(0%);
    pointer-events: all;
}

.batch_name_cnt-6 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidebar_user_list_ul-10.batch_lists_cnt-6 {
    gap: 1rem;
    max-height: 0;
    opacity: 0;
    transition: max-height .4s ease, padding .3s ease, opacity .4s ease;
    overflow: hidden;
    padding: 0;
}

.sidebar_user_list_ul-10.expand {
    max-height: 400px;
    padding: 1rem;
    overflow: auto;
    opacity: 1;
}


.batch_div-6:has(.batch_lists_cnt-6.expand) {
    gap: 1rem;
}

.batch_lists {
    display: flex;
    align-items: center;
}

.bottom_panel_ic-6 {
    width: 20px;
    width: 20px;
    color: #8a2be2;
}

.toggle_cnt-6 {
    display: flex;
    align-items: center;
}

.bottom_cnts-6 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_btn-6 {
    width: 40px;
    padding: .1rem .1rem;
    border-radius: 2rem;
    border: 1px solid gray;
}

.main_btn_ctr-6 {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 4rem;
    color: #7f7f0d;
}

.main_btn-6:has(.main_btn_ctr-6.darkmode) .main_btn_ctr-6 {
    margin-inline-start: auto;
    background-color: white;
}
.main_btn-6:has(.main_btn_ctr-6.darkmode) {
    background-color: rgb(5, 44, 76);
}
.student_info-6 {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: .5px solid rgba(128, 128, 128, 0.612);

}