:root {
    --main-bg-cl: #f5f5f5;
    --global-txt-cl: #000000;
    --sign-in-btn-bg: transparent;
    --df-border: 1px solid rgb(77, 107, 125);
    --theme_color: #1E319B;
    --theme_color2: #1E319B;
    --secondary-btn-color: #FFD60A;
}


* {
    font-family: sans-serif;
    box-sizing: border-box;

}


.dash_board.dark {
    --main-bg-cl: rgb(141, 137, 137);
    --global-txt-cl: rgba(147, 147, 147, 0.961);
    --theme_color2: #000000;
}

html,
body {
    overflow-x: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background-color: var(--theme_color2);

}


.app {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100dvh;
    box-sizing: border-box;
    position: fixed;
    color: #023b5fe2;
    background-color: var(--main-bg);
}

/*Welcom page section*/
.welc-1 {
    flex: 1;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.splash-screen {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', system-ui, sans-serif;
    background: var(--theme_color);
}


/*Header at the top*/
.header-1 {
    display: flex;
    justify-content: space-between;
    width: 98%;
    padding: .4rem 0rem;

}

.logo_cnt-1 {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.logo_img-1 {
    width: 30px;
    height: 30px;
}

.logo_name-1 {
    font-family: sans-serif;
    font-size: 1rem;
    color: var(--global-txt-cl);
}

/*The nav sect==================*/
.nav_child_cnt-1 {
    list-style: none;
    display: none;
    gap: 2rem;
}

.nav_links_cnt-1 {
    display: flex;
    align-items: center;
}


.nav_child_cnt-1 a {
    text-decoration: none;
    color: var(--global-txt-cl);
}

.sign_btn_cnt-1 {
    display: flex;

}

/*Sign in button at the top*/
.sign_in_btn-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem .5rem;
    border-radius: .5rem;
    width: 6rem;
    color: var(--global-txt-cl);
    background-color: var(--sign-in-btn-bg);
    border: var(--df-border);
}

/*===========================*/

/*splash Screen*/
.fram_sec-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    flex: 1;

    width: 100%;
    min-height: 100%;
    padding: 1rem 0rem;
    flex-shrink: 1;

}

.main_frame-1 {
    width: 97%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-block-start: 10rem;

    flex-shrink: 1;
    gap: 2rem;
}

.default_page_anim-1 {
    width: 100%;
    margin-block-start: 10rem;
}

.logo_img_2-1 {
    padding: 1rem 1rem;
    background: whitesmoke;
    box-shadow: 0px 0px .2rem gray;
    border-radius: 1rem;
    width: 5rem;
    height: 5rem;
}

.slogan-1 {
    font-family: sans-serif;
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
    transform: scaleY(1.1);
    flex-shrink: 1;
    flex-basis: auto;
}

.slogan_mini-1 {
    font-family: sans-serif;
    text-align: center;
    color: #FFFFFF;
}

.slogan_cnt-1 {
    margin-block-start: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.reg_sig_btn-1 {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1rem;
    justify-content: space-between;
}

.btns-1 {
    width: 100%;
    padding: 1rem 1rem;
    border: none;
    border-radius: 2rem;

    background: #00C4FF;
    color: #E0E7FF;

}

.s_1-1 {
    background: transparent;
    color: white;
    border: .2px solid rgba(128, 128, 128, 0.614);
    font-family: 'Inter', system-ui, sans-serif;
}


@media (min-width: 800px) {
    .fram_sec-1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        height: 100dvh;
    }

    .main_frame-1 {
        height: fit-content;
    }

    .main_frame-1 {
        margin-block-start: 0rem;
    }

}

@media (min-width: 600px) {
    .nav_child_cnt-1 {
        display: flex;
    }

    .reg_sig_btn-1 {
        flex-direction: row;
        width: 50%;
        max-width: 500px;

    }

    .app {
        height: 100dvh;
    }
 
}