.top_status_card-8 {
    position: fixed;
    inset: 0;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
    padding: 0;
    border: 0;
}

.top_status_card-8 :where(.status_card_tp_cnt-5, .status_card_mid_cnt-5, .rating_cnt, .btm_cnt-5) {
    display: none;
}

/*
==========================================
*/

.tnrl-8 {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: var(--bg);
    padding: 1rem;

}

.Ttl_num_res_list-8 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow-y: auto;
    
}


.higher_top-8 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1rem 0rem 1rem;
    background-color: transparent;
    color: var(--global-txt-cl);
}

.top_cnt-8 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tabs-8 {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    overflow-x: auto;
}

.tabs-8 button {
    display: flex;
    padding: .5rem .5rem;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    flex: 0 0 auto;
    color: var(--dark-thm-cl);
    padding: 1rem 1rem;
    position: sticky;
}

.tabs-8::-webkit-scrollbar {
    display: none;
}

.tabs-8 button.active {
    border-bottom: 1px solid rgb(4, 115, 135);
   
}

.list_cnt-8 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 100%;
    gap: 1rem;
    justify-items: center;


}

/**/
.list_sub_cnt-8 {
    width: 98%;
    border: .4px;
    padding: .5rem .1rem;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    border: .2px solid rgba(128, 128, 128, 0.473);
    border-radius: 1rem;
    overflow-y: auto;
    background-color: var(--layout-1);
}

.list_top_sec-8 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

.res_name_cnt-8 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.list_info-8 {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 1rem 1rem;
}

.list_status_cnt-8 {
    display: flex;
    justify-content: center;
    gap: .5rem;
    border: .3px solid gray;
    background-color: rgba(7, 244, 212, 0.374);
    padding: .5rem 1rem;
    border-radius: .5rem;

}

.list_info-8 {
    color: gray;
}

.list_info-8 div {
    display: flex;
    align-items: center;
    gap: .4rem;
    text-align: center;
}

.li_btm-8 {
    border-top: 1px solid gray;
    width: 96%;
    align-self: center;
    height: 4rem;
    display: flex;
    align-items: center;
}

.li_btm-8 div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.module_up_status-8 {
    color: gray;
}

.new_resources_btn-8 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
    background-color: var(--theme_color);
    border-radius: .5rem;
    border: none;
    color: white;
    gap: 1rem;
}

.close_add_panel-8 {
    align-self: flex-end;

}

.trt_num_std_cnt-8 {
    display: flex;
    align-items: center;
}

.dash_board.dark .bottom_left-8 {
    background: rgb(38, 45, 58);
    color: gray;
}

/*rgb(202, 199, 199)*/
.bottom_left-8 {
    background: rgb(202, 199, 199);
    width: 5rem;
    height: 2rem;
    position: absolute;
    right: 22px;
    margin-block-start: 111px;
    border-top-right-radius: .1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;

    display: flex;
    align-items: center;
    place-content: center;
    color: rgb(37, 37, 37);

}

.greeting_cnt-8 {
    width: 100%;
    min-height: 13.5rem;
    height: auto;
    background-color: transparent;
    box-shadow: 0 0 1rem rgb(178, 177, 177);
    border-radius: 2rem;
    display: grid;
    grid-template-columns: 2fr .5fr;
    grid-template-rows: .4fr 2fr;
    gap: 1rem;
    padding: 1rem;
    overflow-y: hidden;

}

.dash_board.dark .greeting_cnt-8 {
    box-shadow: 0 0 1rem rgb(33, 33, 33);
}

.sub_greeting_cnt-8 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 100%;
    width: 100%;
}


.greetings-8 h2 {
    font-weight: 600;
    font-size: 2rem;
    color: var(--global-txt-cl);
}

.greetings-8 {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.greeting_cnt-8 span {
    color: rgb(160, 160, 160);
}

.quote-8 {
    grid-row: span 2;
    height: 100%;
    display: flex;
    place-items: center;
    text-align: center;
    border-radius: 1rem;
    background-color: rgba(128, 128, 128, 0.137);
    color: rgb(163, 163, 163);
}

.verified_info_cnt-8 {
    display: flex;
    align-items: center;
}

.verified-8 {
    border-radius: 1rem;
    background-color: rgba(111, 111, 111, 0.205);
    padding: 1rem 2rem;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    color: rgb(194, 194, 194);
}

.qin-8 {
    display: none;
}

.loading_skeleton {
    background: linear-gradient(90deg,
            #f8f9fa3a 0%,
            #a0bedcb7 40%,
            #f8f9fa28 80%);
    background-size: 300% 100%;
    animation: smoothGradient 3s ease-in-out infinite;
}

@keyframes smoothGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.greeting_skeleton-8 {
    width: 100%;
    min-height: 2rem;
    border-radius: .5rem;
    width: 100%,
}

@media (max-width: 920px) {
    .bottom_left-8 {
        margin-block-start: 88px;
    }

    .list_status_cnt-8 span {
        display: none;
    }

    .trt_num_std_cnt-8 span {
        display: none;
    }

    .list_info-8 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}


@media (max-width: 600px) {
    .new_resources_btn-8 span {
        display: none;
    }

    .trt_num_std_cnt-8 {
        display: none;
    }

    .res_name_cnt-8 {
        flex: 1;
        justify-content: space-between;
    }



    .list_cnt-8 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 699px) {
    .greeting_cnt-8 {
        min-height: 15.5rem;
        grid-template-columns: .1fr 1fr 1fr;

    }

    .sub_greeting_cnt-8 {

        grid-column: span 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

    }

    .greetings-8 {
        grid-column: span 2;

    }

    .quote-8 {
        display: none;
    }

    .qin-8 {
        display: flex;
        grid-row: span 2;
    }

    .list_cnt-8 {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 600px) {
    .new_resources_btn-8 span {
        display: none;
    }

    .trt_num_std_cnt-8 {
        display: none;
    }

    .res_name_cnt-8 {
        flex: 1;
        justify-content: space-between;
    }
}

@media (max-width: 500px) {
    .greeting_cnt-8 {
        min-height: 20rem;
    }

    .greetings-8 h2 {
        font-size: 1.7rem;
    }

}



@media (max-width: 481px) {
    .list_info-8 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;

    }


}

@media (max-width: 381px) {
    .list_status_cnt-8 span {
        display: none;
    }

    .list_info-8 {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: left;

    }

}